.card {
    width: 20rem;
    height: 8rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    padding: .7rem;
}

.repo-name {
    color: #494bff;
    font-size: 1.1rem;
}

.repo-name:hover {
    cursor: pointer;
}

.description {
    font-size: .9rem;
}

.footer {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
}

.language {
    width: 90px;
    font-size: .9rem;
    font-weight: bold;
    color: #4e484e;
}

.stars-count {
    font-size: .9rem;
}

.is-fork {
    font-size: .9rem;
}

.fas {
    color: #4e484e;
}

.fas:hover {
    color: #494bff;
    cursor: pointer;
}

.updated-at {
    font-size: .7rem;
}
